body {
    font: normal 15pt Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
}

#veja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin: 40px 0 0 0;
}

#veja:hover {
    text-decoration: underline;
}

#voltar{
    color: white;
}